// import partials
// Note :: partials can import by using @forward and @use keywords. if directly use somthing(like variables) from partial then import partial by @use keyword otherwise use @forward keyword.

@forward "./shared/partials/index";
@use "./shared/utils/index" as var;

h2 {
  color: var.$extraTextColor;
  text-align: center;
  text-transform: uppercase;
}

//  ----------- Nested Style With SASS  -------------
nav {
  background-color: var.$extraBgColor;
  padding: var.$sectionPadding;
  margin: var.$sectionMargin;

  ul {
    list-style-type: none;

    li {
      padding: 10px;

      a {
        color: var.$extraTextColor;
        text-decoration: none;
        border: 1px solid salmon;
        padding: 5px 10px;
      }
    }
  }
}
//  ------------- End Nested Style  -----------------
