// ------------------ variables -------------------
// syntax
// $variable_name: value;

$defaultPadding: 0px;
$sectionPadding: 20px;

$defaultMargin: 0px;
$sectionMargin: 20px;

$primaryColor: palegreen;
$secondaryColor: cyan;

$primaryBgColor: #f5f5f5;
$secondaryBgColor: #ffffff;
$extraBgColor: blueviolet;

$primaryTextColor: #000000;
$secondaryTextColor: #ffffff;
$extraTextColor: salmon;

$primaryFontSize: 16px;
$secondaryFontSize: 14px;
$smallFontSize: 12px;
// ----------------- end variable -----------------