/* ---------------------------------- SASS NOTE -----------------------------------  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* -------------- Sass variable -----------------  */
/* Declare */
/* $variable_name: value  */
/* Use variable  */
/* css_property: $variable_name */
/* declare variable  */
/* menu  */
.menu {
  background-color: cyan;
  padding: 20px 10px;
  margin: 20px auto;
}
.menu ul {
  list-style-type: none;
  text-align: center;
}
.menu ul li {
  border: 1px solid gray;
  width: 28%;
  padding: 10px;
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
}
.menu ul li a {
  text-decoration: none;
}

.paragraph {
  width: 90%;
  background-color: lightgray;
  font-size: 14px;
  color: black;
  padding: 20px 10px;
  margin: 20px auto;
}

.paragraphContainer {
  width: 85%;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid salmon;
  border-radius: 20px;
  background-color: blueviolet;
}

.btn, .btn_two, .btn_one {
  padding: 10px 20px;
  text-align: center;
  color: white;
  margin-right: 10px;
  border: none;
  border-radius: 30px;
}

.btn_container {
  width: 85%;
  margin: auto;
}

.btn_one {
  background-color: blueviolet;
}

.btn_two {
  background-color: greenyellow;
}

.title1 {
  font-size: 24px;
  text-align: center;
  color: yellow;
  background-color: blueviolet;
  padding: 20px 10px;
}

.loop_container {
  width: 85%;
  padding: 20px 0px;
  margin: 20px auto;
  border: 1px solid salmon;
  background-color: blueviolet;
  border-radius: 30px;
}
.loop_container .loop_item_1 {
  width: 16.6666666667%;
  border: 1px solid palegreen;
  margin-top: 15px;
  display: inline-block;
}
.loop_container .loop_item_2 {
  width: 33.3333333333%;
  border: 1px solid palegreen;
  margin-top: 15px;
  display: inline-block;
}
.loop_container .loop_item_3 {
  width: 50%;
  border: 1px solid palegreen;
  margin-top: 15px;
  display: inline-block;
}

.each_container {
  width: 85%;
  padding: 20px 0px;
  margin: 20px auto;
  border: 1px solid salmon;
  background-color: blueviolet;
  border-radius: 30px;
}

.red {
  display: inline-block;
  background-color: red;
  border: 1px solid black;
  width: 33%;
  padding: 20px;
}

.red {
  display: inline-block;
  background-color: red;
  border: 1px solid black;
  width: 33%;
  padding: 20px;
}

.red {
  display: inline-block;
  background-color: red;
  border: 1px solid black;
  width: 33%;
  padding: 20px;
}

.green {
  display: inline-block;
  background-color: green;
  border: 1px solid black;
  width: 33%;
  padding: 20px;
}

.green {
  display: inline-block;
  background-color: green;
  border: 1px solid black;
  width: 33%;
  padding: 20px;
}

.green {
  display: inline-block;
  background-color: green;
  border: 1px solid black;
  width: 33%;
  padding: 20px;
}

.blue {
  display: inline-block;
  background-color: blue;
  border: 1px solid black;
  width: 33%;
  padding: 20px;
}

.blue {
  display: inline-block;
  background-color: blue;
  border: 1px solid black;
  width: 33%;
  padding: 20px;
}

.blue {
  display: inline-block;
  background-color: blue;
  border: 1px solid black;
  width: 33%;
  padding: 20px;
}/*# sourceMappingURL=App.css.map */