/* ---------------------------------- SASS NOTE -----------------------------------  */
// imports in sass
@import "./sass_common_module/reset";
@import "./sass_common_module/variables";

.title {
  text-align: center;
  color: $primaryColor;
  background-color: blueviolet;
  padding: $sectionPadding;
}

// --------------------- Nested Style in SASS ---------------------
/* menu  */
.menu {
  background-color: cyan;
  padding: $sectionPadding;
  margin: $sectionMargin;

  ul {
    list-style-type: none;
    text-align: center;

    li {
      border: 1px solid gray;
      width: 28%;
      padding: 10px;
      display: inline-block;
      text-align: center;
      margin: 0px 10px;

      a {
        text-decoration: none;
      }
    }
  }
}

// --------------------- @mixin and @includ in SASS ---------------------
// mixin contain multiple css property and can be used in anywhere.

// create mixin
// @mixin mixin_name{
//   -----
// }

// called mixin
// @include mixin_name

// create mixin
@mixin paragraphMixin {
  width: 90%;
  background-color: lightgray;
  font-size: 14px;
  color: black;
  padding: $sectionPadding;
  margin: $sectionMargin;
}

.paragraph {
  @include paragraphMixin;
}

// mixin with parameter
@mixin paragraphContainerMixin($padding, $marginY, $marginX, $bgColor) {
  width: 85%;
  padding: $padding;
  margin: $marginY $marginX;
  border: 1px solid salmon;
  border-radius: 20px;
  background-color: $bgColor;
}

.paragraphContainer {
  @include paragraphContainerMixin(20px, 20px, auto, blueviolet);
}

// inheritance
// By inheritance we can apply the style of one selector (id, class etc) to another

.btn {
  padding: 10px 20px;
  text-align: center;
  color: white;
  margin-right: 10px;
  border: none;
  border-radius: 30px;
}

.btn_container {
  width: 85%;
  margin: auto;
}

// inherite the style of .btn selector
.btn_one {
  @extend .btn;
  background-color: blueviolet;
}

.btn_two {
  @extend .btn;
  background-color: greenyellow;
}
