/* ---------------------------------- SASS NOTE -----------------------------------  */

// imports in sass
@import "./sass_common_module/reset";
@import "./sass_common_module/variables";

.title {
  text-align: center;
  color: $primaryColor;
  background-color: blueviolet;
  padding: $sectionPadding;
}

// --------------------- Nested Style in SASS ---------------------
/* menu  */
.menu {
  background-color: cyan;
  padding: $sectionPadding;
  margin: $sectionMargin;

  ul {
    list-style-type: none;
    text-align: center;

    li {
      border: 1px solid gray;
      width: 28%;
      padding: 10px;
      display: inline-block;
      text-align: center;
      margin: 0px 10px;

      a {
        text-decoration: none;
      }
    }
  }
}

// --------------------- @mixin and @includ in SASS ---------------------
// mixin contain multiple css property and can be used in anywhere.

// create mixin
// @mixin mixin_name{
//   -----
// }

// called mixin
// @include mixin_name

// create mixin
@mixin paragraphStyles {
  width: 90%;
  background-color: lightgray;
  font-size: 14px;
  color: black;
  padding: $sectionPadding;
  margin: $sectionMargin;
}

.paragraph {
  @include paragraphStyles;
}
