/* -------------- Sass variable -----------------  */
/* Declare */
/* $variable_name: value  */
/* Use variable  */
/* css_property: $variable_name */

/* declare variable  */
$primaryColor: yellow;
$sectionPadding: 20px 10px;
$sectionMargin: 20px auto;